/* Estilos de página do site */
body {
    background: rgb(24, 24, 24);
}

/* Estilos utilizados no Menu do site */
.menu > nav{
    display: flex;
    background-color: #000401;
    justify-content: start;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    width: 99vw;
}

.menu div:not(:first-child) {
    padding-left: 50px;
}

.menu div:first-child {
    padding-left: 15px;
    padding-top: 4.5px;
}

.menu p{
    color: whitesmoke;
    font-size: 20px;
    font-family: 'IBM Plex Sans Bold', Arial;
    text-align: center;
    font-weight: bold;
    transition: color 1s, font-size 0.5s ease;
}

.menu a{
    text-decoration: none;
}

.menu > nav div:nth-child(2) p:hover{
    transition: color 0.5s, font-size 1s ease;
    font-size: 25px;
    color: rgb(105, 36, 195);
}

.menu > nav div:nth-child(3) p:hover{
    transition: color 1s, font-size 1.5s ease;
    font-size: 25px;
    color: rgb(183, 0, 0);
}

.menu > nav div:nth-child(4) p:hover{
    transition: color 1s, font-size 1.5s ease;
    font-size: 25px;
    color: rgb(122, 122, 122);
}

.menu > nav div:nth-child(5) p:hover{
    transition: color 1s, font-size 1.5s ease;
    font-size: 25px;
    color: rgb(189, 183, 1);
}

#TemaEscuro {
    margin-left: auto;
    padding-right: 15px;
}

/* Estilos do corpo do site */

.corpo {
    width: 99vw;
    display: grid;
    grid-template-columns: auto auto 35%;
    grid-template-rows: repeat(2, max-content);
    grid-gap: 100px;
}

.corpo section, aside {
    color: whitesmoke;
}

/* Estilos de section */

.corpo section {
    grid-column: 1 / 3;
    grid-row: 1 / 5;
    padding-left: 10px;
    height: fit-content;
}

.corpo > section > div > a{
    text-decoration: none;
    color: whitesmoke;
}

.corpo section h4 {
    font-size: 20px;
    color: rgb(0, 167, 0);
}

.corpo section p {
    border-bottom: 2px dotted black;
    padding-bottom: 10px;
}

/* Estilos de aside */

.corpo aside {
    grid-column: 3 / 4;
    grid-row: 1 / 5;
    text-align: right;
}

.corpo aside > div:not(:last-child) {
    border-bottom: 2px dotted black;
}

.corpo aside > h3 {
    color: rgb(38, 144, 38);
    padding-bottom: 10px;
    border-bottom: 2px dotted black;
}

.corpo aside h4 {
    color: rgb(0, 167, 0);
}

.corpo aside > h3, h4, p {
    padding-right: 15px;
}

/* Estilos do Rodapé do site */
.rodape {
    display: flex;
    background-color: #000000;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin-top: auto;
    width: 99vw;
}

.rodape div {
    padding-left: 15px;
}

.rodape p{
    color: whitesmoke;
    font-size: 10px;
    font-family: 'IBM Plex Sans Bold', Arial;
    text-align: center;
    font-weight: bold;
}

.rodape a{
    text-decoration: none;
}